@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* Hamburger Menu */
  .hamburger {
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: all 0.25s;
    position: relative;
  }

  .hamburger-top,
  .hamburger-middle,
  .hamburger-bottom {
    position: absolute;
    width: 24px;
    height: 2px;
    top: 0;
    left: 0;
    background: #4b0519;
    transform: rotate(0);
    transition: all 0.5s;
  }

  .hamburger-top,
  .hamburger-bottom {
    width: 12px;
  }

  .hamburger-middle {
    transform: translateY(7px);
  }

  .hamburger-bottom {
    transform: translateY(14px) translateX(12px);
  }

  .open {
    transform: rotate(90deg);
  }

  .open .hamburger-top {
    width: 18px;
    transform: rotate(45deg) translateY(6px) translateX(6px);
  }

  .open .hamburger-middle {
    display: none;
  }

  .open .hamburger-bottom {
    width: 18px;
    transform: rotate(-45deg) translateY(6px) translateX(-6px);
  }

  /* NavLink */
  .nav-link a.active {
    color: #fa4238;
  }

  /* Icons */

  /* Navigation */
  .mobile-down-icon-box ion-icon {
    rotate: 180deg;
    transition: 200ms;
  }

  .mobile-up-icon-box ion-icon {
    rotate: 0;
    transition: 200ms;
  }

  /* Our Approach */
  .approach-icon-box ion-icon {
    color: #fa1154;
    font-size: 24px;
  }

  /* Footer */
  .footer-icon-box ion-icon {
    font-size: 24px;
  }

  .footer-icon-box ion-icon:hover {
    color: #fa1154;
    transition: all 150ms;
    transform: scale(1.05);
  }

  /* Media Queries */
  @media (min-width: 768px) {
    /* Icons */
    /* Our Approach */
    .approach-icon-box ion-icon,
    .footer-icon-box ion-icon {
      font-size: 32px;
    }
  }
}
